@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300;400;500;600&display=swap');

body {
  font-family: 'Noto Sans Thai', sans-serif !important;
}

.thai-lang {
  font-family: 'Noto Sans Thai', sans-serif;
}

.pointer {
  cursor: pointer;
}

.gray-hover {
  transition: 0.1s all;
}

.gray-hover:hover {
  background-color: #E0E0E0;
}