@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300;400;500;600&display=swap');

body {
  font-family: 'Noto Sans Thai', sans-serif !important;
}

.thai-lang {
  font-family: 'Noto Sans Thai', sans-serif;
}

.pointer {
  cursor: pointer;
}

.underline-hover {
  transition: 0.4s all;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.underline-hover:hover {
  border-top: 2px solid #E0E0E0;
  border-bottom: 2px solid #E0E0E0;
}

.gray-hover {
  transition: 0.4s all;
}

.gray-hover:hover {
  background-color: #E0E0E0;
}